{
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"singleAttributePerLine": true,
	"bracketSameLine": true,
	"endOfLine": "lf",
	"trailingComma": "none",
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"printWidth": 200,
				"htmlWhitespaceSensitivity": "ignore"
			}
		}
	]
	
}
