/*Colours*/
$blue: #3498db;
$toss-gray: #202632;
$toss-blue: #0064ff;

body {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	background-color: #000000;
}
input:focus {
	outline: none;
}

/*loading animation*/
.loader {
	width: 30px;
	height: 30px;
	margin: 30px auto;
	border: 7px solid $toss-blue;
	border-top-color: transparent;
	border-radius: 50%;
	animation: loader 1s infinite linear;
}
.loader.hide {
	display: none;
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*skeleton loading animation*/
.skeleton {
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	background-color: black;
}
.skeleton::after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(
		270deg,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.1),
		rgba(255, 255, 255, 0)
	);
	transform: translateX(-100%);
	animation: skeleton-loader 2s infinite;
}
@keyframes skeleton-loader {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

/* components-TheHeader */
.header {
	position: sticky;
	height: 100px;
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0 50px;
	z-index: 6;
	background-image: url(../public/header.jpg);
	background-size: cover;

	.bank-logo {
		width: 18rem;
	}

	.menu a {
		color: #eaeaea;
		text-decoration: none;
		padding: 0 30px;
		font-size: 25px;
		font-weight: 700;

		&:first-child {
			margin-left: 4rem;
		}
	}
}
/* AddTodo Component*/
.container {
	display: flex;
	justify-content: center;
	.home-wrapper {
		margin: 5rem;
		width: 50rem;
		border-radius: 20px;
		background-color: #fff;
		padding: 1rem 0.5rem;
	}
}
.title {
	max-width: 1120px;
	padding: 1rem;
	color: $toss-gray;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
}

.new-task {
	max-width: 1120px;
	margin: 1rem;
	padding: 30px 2rem;
	background-color: $toss-blue;
	border-radius: 20px;
	color: white;
	display: grid;
	justify-content: space-between;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: 55% 23% 10%;
}
.description {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: contents;
	font-size: 1.2rem;
	font-weight: 700;
}
.description__item {
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
}
.new-input {
	list-style-type: none;
	display: contents;
}
.new-input__item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	.task-input,
	.date-input,
	.status-input {
		font-family: 'Spoqa Han Sans Neo', 'sans-serif';
		text-align: center;
		line-height: 200%;
		cursor: pointer;
		background-color: transparent;
		border: none;
		font-size: 0.9rem;
		font-weight: 700;
		color: gray;
	}
	background-color: white;
	border-radius: 10px;
}

// TodoList Component//
.todo-list {
	max-width: 1200px;
	margin: 1rem;
}
.filter {
	padding: 5px;
	display: flex;
	justify-content: flex-end;
	gap: 40px;
	button {
		font-family: 'Spoqa Han Sans Neo', 'sans-serif';
		color: $toss-gray;
		font-weight: 700;
		padding: 5px;
		transition:
			box-shadow 300ms ease-in-out,
			color 300ms ease-in-out;
		&:hover {
			box-shadow: 0 0 40px 50px $toss-gray inset;
			color: #fff;
		}
	}
}

// TodoItem Component//
.task {
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 10px 0px;
	background-color: #dbeaff;
	border-radius: 20px;
	transition:
		box-shadow 200ms ease-in-out,
		color 200ms ease-in-out;
	&:hover {
		box-shadow: 0 0 40px 50px $toss-blue inset;
		input {
			color: #fff;
		}
	}
}

.edit-task {
	border-radius: 20px;
	height: 3.5rem;
	display: grid;
	grid-template-columns: 50% 15% 20% 6% 6%;
}

.edit-task__item {
	display: flex;
	justify-content: center;
	align-items: center;
	input {
		font-family: 'Spoqa Han Sans Neo', 'sans-serif';
		text-align: center;
		flex-grow: 1;
		background-color: transparent;
		border: transparent;
		color: $toss-gray;
		font-size: 1rem;
		font-weight: 700;
	}
	select {
		zoom: 1.1;
		border: transparent;
		background-color: $toss-gray;
		border-radius: 5px;
		padding: 2px 1px 4px 4px;
		color: white;
		font-family: 'Spoqa Han Sans Neo', 'sans-serif';
		text-align: center;
		cursor: pointer;
	}
	.date-input {
		cursor: pointer;
	}
}
button {
	border-radius: 10px;
	border-color: transparent;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.add {
	background-color: $toss-blue;
}
.edit {
	background-color: green;
}
.delete {
	background-color: #bf360c;
}

@media (max-width: 1200px) {
	.container {
		padding: 40px;
	}
}

@media (max-width: 600px) {
	.container {
		padding: 20px 20px;
		input {
			font-size: small;
		}
	}
}
//About 페이지//
.about {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	.container {
		width: 50rem;
	}
	img {
		width: 40rem;
		margin: 5rem;
		border-radius: 20px;
	}
	img.skeleton {
		width: 40rem;
	}
	.intro.skeleton {
		height: 230px;
	}

	.developer {
		margin: 5rem;
		display: flex;
		flex-direction: column;
		.developer_intro {
			font-size: 2rem;
			text-align: center;
			margin: 1rem;
		}
	}
	.profile {
		width: 230px;
		height: 230px;
		margin: 0 auto 20px;
		border-radius: 50%;
		background-size: cover;
	}

	.name {
		font-size: 40px;
	}

	p {
		line-height: 1.5;
		text-align: center;
		margin-bottom: 4px;
	}

	a {
		color: var(--color-primary);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			color: white;
		}
	}
}
