body {
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
	background-color: black;
}

/* components-TheHeader */
.header {
	position: sticky;
	height: 100px;
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0 50px;
	z-index: 6;
	background-image: url(../public/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	.bank-logo {
		width: 18em;
	}

	.menu a {
		color: #eaeaea;
		text-decoration: none;
		padding: 0 30px;
		font-size: 25px;
		font-weight: 700;

		&:first-child {
			margin-left: 4em;
		}
	}
}

/* components-TodoList */
h1 {
	max-width: 1120px;
	margin: 80px auto;
	color: white;
	font-size: 2em;
	font-weight: 700;
}

/* Container */
.wrapper__top {
	max-width: 1120px;
	margin: 10px auto;
	padding: 30px;
	background-color: #0064ff;
	border-radius: 20px;
	color: white;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(4, 1fr);
}

.list-header {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: contents;
	font-size: 1.2em;
	font-weight: 700;
}

.list-header__item {
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
}

.list-input {
	list-style-type: none;
	display: contents;
}
.list-input__item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;

	.task-input,
	.date-input,
	.manager-input {
		text-align: center;
		line-height: 200%;
		background-color: transparent;
		border: none;
		font-size: 1em;
	}
	background-color: white;
	border-bottom: 5px solid #00094c;
	border-radius: 10px;
}

.wrapper__bottom {
	max-width: 1120px;
	margin: 30px auto;
	padding: 10px 30px;
	background-color: white;
	border-radius: 20px;
}

.response {
	border-radius: 20px;
	height: 3.5em;
	display: grid;
	grid-template-columns: 5% 47% 20% 22% 5%;
	grid-gap: 0.2em;
}

.response__item {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #1f2633;
	font-size: 1.2em;
	font-weight: 700;
	input {
		zoom: 1.8;
	}
}
button {
	border-radius: 10px;
	border-color: transparent;
	color: white;
	display: flex;
	justify-content: center;
}
.add {
	background-color: #0064ff;
}
.delete {
	background-color: #bf360c;
}

@media (max-width: 1200px) {
	.container {
		padding: 40px;
	}
}

@media (max-width: 600px) {
	.container {
		padding: 40px 20px;
	}
}

.about {
	.photo {
		width: 230px;
		height: 230px;
		margin: 0 auto 20px;
		border-radius: 10px;
		background-size: cover;
	}

	.name {
		font-family: 'Oswald', sans-serif;
		font-size: 40px;
		margin-bottom: 20px;
	}

	p {
		line-height: 1.5;
		text-align: center;
		margin-bottom: 4px;
	}

	a {
		color: var(--color-primary);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
